
@{
    ViewBag.Title = "Index";
}
<div style="float:right">
    @Html.ActionLink("Log Out", "Logout", "Admin")
</div>
<br />
<br />

@if (Session.Count == 0)
{
    <p class="alert-danger">You need to Login first to access this data</p>
    @Html.ActionLink("Login Here", "LoginPage", "home");
}
else
{
    <p style="font-size:larger">Welcome <b class="alert-danger">@Convert.ToString(TempData["name"])</b></p>

    <hr />

    using (Html.BeginForm("Register", "Admin"))
    {
        <input type="submit" value="Register New User" />
    }

    <hr />
    using (Html.BeginForm("ShowAll", "Admin"))
    {
        <input type="submit" value="Show All Users" />
    }

}