
@{
    ViewBag.Title = "DoctorError";
}


    <b style="float:right;margin-top:1rem"><a href="/Doctor/Index/">Press Here</a> to go back</b>


<style>
    body {
        background-image: url('/Scripts/Images/Doctor Error.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

