
@{
    ViewBag.Title = "ErrorPage";
}

<b style="float:right;margin-top:1rem"><a href="/Admin/Index/">Press Here</a> to go back</b>


<style>
    body {
        background-image: url('/Scripts/Images/Error Page.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>