
@{
    ViewBag.Title = "HomeError";
}



    <b style="float:right;margin-top:1rem"><a href="/Home/Index/">Press Here</a> to go back</b>

<style>
    body {
        background-image: url('/Scripts/Images/Home Errors.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>