
@{
    ViewBag.Title = "PatientError";
}

<b style="float:right;margin-top:1rem"><a href="/Patient/Index/">Press Here</a> to go back</b>

<style>
    body {
        background-image: url('/Scripts/Images/Patient Error.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

