
@{
    ViewBag.Title = "Index";
}

<br />
<br />

@if (Session.Count == 0 || ((User)Session["User"]).role_id != 3)
{
    <p class="alert-danger container">You need to Login first to access this data</p>
    @Html.ActionLink("Login Here", "LoginPage", "home");
}
else
{
    <div class="Logout">
        @Html.ActionLink("Log Out", "Logout", "Admin", new { aria = "" }, new { @style = "color:white" })
    </div>

    <p style="font-size:larger" class="labelColorWhite">Welcome <b class="alert-danger">@Convert.ToString(TempData["name"])</b></p>

    using (Html.BeginForm("ShowAppointments", "Receptionist"))
    {
        <input type="submit" value="Show pending appointments" style="margin:1.5rem auto" class="btn btn-primary btn-danger"/>
    }

    <hr />

    using (Html.BeginForm("ShowAllAppointments", "Receptionist"))
    {
        <input type="submit" value="View all Appointments" style="margin:1.5rem auto" class="btn btn-primary btn-warning"/>
    }
}