@model List<WebApplication1.Appointment>

@{
    ViewBag.Title = "ShowAllAppointments";
}

<br />
<br />
<div class="alert-info">
    <form action="ShowAllAppointments">
        <label for="inputDate"></label>
        <input type="date" name="date1" id="inputDate" />
        <input type="submit" value="Search" />
    </form>
</div>
<h2>ShowAllAppointments</h2>

<table class="table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <label>Appointment Id</label>
            </th>

            <th>
                <label>Patient Id</label>
            </th>

            <th>
                <label>Appointment Date</label>
            </th>

            <th>
                <label>Appointment Time</label>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(a => item.appointment_id)</td>

                <td>@Html.DisplayFor(a => item.patient_id)</td>

                <td>@Html.DisplayFor(a => item.appointmentDate)</td>

                <td>@Html.DisplayFor(a => item.appointmentTime)</td>

            </tr>

        }
    </tbody>

</table>