@{
    ViewBag.Title = "Home Page";
}


<style>
    body {
        background-image: url('/Scripts/Images/Front Page.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div>
    <div class="FrontDiv">
        <div class="container-fluid">

            <p class="lead" style="color:cornsilk;margin-top:3rem">
                Today is a landmark day for us as
                we complete 39 years of dedicated
                patient care.Over the years Healthcare
                has been the pioneer of healthcare
                in India, and we are humbled by the
                love and trust placed in us by over
                200 million patients and their families.
                It has motivated us to put in tireless
                efforts and remain unwavering in our
                commitment to bring you the best healthcare
                in the world.
            </p>
        </div>



        <p><a href="https://localhost:44374/Home/LoginPage" class="btn btn-danger btn-group">Get Started &raquo;</a></p>
    </div>


    <div class="col-md-5 FrontDiv" style="float:inline-start;margin-left:auto;margin-top:2rem;color:wheat">
        <h2 class="labelColorBlack">Why choose us?</h2>
        <hr />
        <p>Established by Dr Prathap C Reddy in 1983, Apollo Healthcare has a robust presence across the healthcare ecosystem. From routine wellness & preventive health care to innovative life-saving treatments and diagnostic services, Apollo Hospitals has touched more than 120 million lives from over 120 countries, offering the best clinical outcomes.</p>
    </div>

    <div class="col-md-5 FrontDiv" style="float:inline-start;margin-left:2rem;color:wheat">
        <h2 class="labelColorBlack">Our Main Motive</h2>
        <hr />
        <p>Our Prime Minister’s clarion call for ‘Heal in India’ is a great endorsement and a signal that the world needs a new vision for healthcare. A system that is holistic. A system that is proactive and a system that optimises quality of life. We believe India, with its heritage of holistic healthcare, can take the lead in providing this new system of care to the world.</p>
    </div>

    <div class="col-md-5 FrontDiv" style="margin-left:2rem;color:wheat;width:15rem">
        <h2 class="labelColorBlack">Outlets</h2>
        <hr />
        <p>India’s most trusted, largest pharmacy chain(500+ stores),covering the entire India</p>
    </div>


</div>