body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.labelColorBlack {
    color: white;
    font-weight: 600;
}

.labelColorWhite {
    color: black;
    font-weight:600;
}

.WhiteHeader{
    /*background-color:darkkhaki;*/
    background-color:black;
    color:white;
}

.ActionLinks {
/*    font-size: 1em;
    color: Black;
    background-color: white;
    border-radius: 1em;
    Padding: 4px*/

background-color:crimson;
padding-left:2rem;
padding-right:2rem;
padding-top:1rem;
padding-bottom:1rem;
border-radius:6px;
color:white
}


.ActionLinksBlue {

    background-color: dodgerblue;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 6px;
    color: white
}

.Logout {
    float:right;
    color: white
}

.TableBody {
    /*background-image: linear-gradient(45deg,rgba(255,192,203,0.5) ,grey);*/

    background-color:white;
}


.FrontDiv {
    background-image: linear-gradient(45deg,rgb(204, 200, 27),rgba(157, 83, 83,0.3) 65%);
}
