
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-image: url('/Scripts/Images/Doctor.png');
        background-repeat: no-repeat;
        background-size: cover
    }
</style>

<p class="welcometext" style="margin-top:2rem">Welcome <b class="welcome-name-text">@Convert.ToString(TempData["name"])</b></p>



<div class="jumbotron-form">
    @using (Html.BeginForm("viewAppointment", "Doctor"))
    {
            <input type="submit" value="Show Appointments" class="btn btn-danger" style="margin:1.75rem" />

    }
</div>