
@{
    ViewBag.Title = "Index";
}


<br />
<br />

@if (Session.Count == 0)
{
    <p class="alert-danger container">You need to Login first to access this data</p>
    @Html.ActionLink("Login Here", "LoginPage", "home");
}
else
{
    <div class="Logout">
        @Html.ActionLink("Log Out", "Logout", "Admin", new { @style = "color:white" })
    </div>

    <p style="font-size:larger" class="labelColorWhite">Welcome <b class="alert-danger">@Convert.ToString(TempData["name"])</b></p>

    <hr />

    using (Html.BeginForm("Register", "Admin"))
    {
        <input type="submit" value="Register New User" class="btn btn-primary btn-danger"/>
    }

    <hr />
    using (Html.BeginForm("ShowAll", "Admin"))
    {
        <input type="submit" value="Show All Users" class="btn btn-primary btn-warning"/>
    }

}